
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<input type="radio" name="gender" value="A"> 好可愛
<br>
<input type="radio" name="gender" value="B"> 好醜
<br>



<select name ="month">  <option value ="1">1月</option>  <option value ="2">2月</option></select>

